html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 80% Arial, Helvetica, sans-serif;
  background: #FFF;
  color: #000;
}

p
{ padding: 0 0 10px 0;
  color: #1D1D1D;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Arial, Helvetica, sans-serif;
  text-shadow: 0px -1px 0px #EEE;
  color: #098EFF;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 125% Arial, Helvetica, sans-serif;
  color: #1D1D1D;}

h3
{ font: normal 120% Arial, Helvetica, sans-serif;
  color: #1D1D1D;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  color: #FFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}

a, a:hover
{ color: #1D1D1D;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #slideshow
{ margin-left: auto; 
  margin-right: auto;}
#header
{ 
  height: 70px;
  margin-left: 10px;
  background: transparent;
  text-align: center;}

#company_log {
  margin-top: 20px;
  width: 60px;
}

#site_heading
{ height: 120px;
  }  
  
.left {
  float: left;
  width: 200px;
  text-align: center
}
.left H1 {
  font: bold 240% arial, sans-serif;
  color: #098EFF;
  letter-spacing: -3px;
  background: transparent;
}

.right {
  width: 715px;
  float: right;
  
  border-left: solid 2px #f5f5f5;
  margin: 20px 10px 20px 0;
  padding-left: 10px;
  height: 77px;
}
#localWebsite {
  float: left;
}
#localWebsite p.first{
  font: 19px/1em "avalonMedium", arial, sans-serif;
  color: #b9b9b9;
  margin-top:10px;
}
#localWebsite p.last{
  font: 26px/1em "avalonXlight", arial, sans-serif;
  color: #bababa;
  
}

#main
{ background: transparent;}
  
#dark_container
{ height: 430px;
  background: #1D1D1D;
  background: -moz-linear-gradient(#676767, #1D1D1D);
  background: -o-linear-gradient(#676767, #1D1D1D);
  background: -webkit-linear-gradient(#676767, #1D1D1D);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

#banner
{ width: 940px;
  position: relative;
  height: 50px;
  padding: 0 0 0 0;
  background: transparent;}
  
#welcome
{ width: 940px;
  float: left;
  text-align: center;
  height: 50px;
  padding-left: 20px;
  background: transparent;} 
  
#welcome_slogan
{ width: 940px;
  float: left;
  text-align: center;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;}   
   
#welcome H1
{ font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  text-shadow: 1px 1px #000;
  color: #fff;}

#welcome_slogan H1
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #000;
  color: #fff;} 

#menu_container
{ height: 50px;
  background: #098EFF;
  background: -moz-linear-gradient(#43A9FF, #0183F0);
  background: -o-linear-gradient(#43A9FF, #0183F0);
  background: -webkit-linear-gradient(#43A9FF, #0183F0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}  
  
#menubar
{ width: 940px;
  height: 45px;
  padding-top: 25px;
  text-align: center; 
  margin: 0 auto;
  background: #0183F0} 

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 25px;
  right: 5px;
  display: block;
  background: url(../images/arrows-black.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 5px;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  margin: 0 auto;
  float: right;
  margin-right: 20px;
}

ul#nav li {
  text-align: center;
  }

ul#nav ul { 
  background: transparent url(../images/transparent.png) repeat;
  margin-top: 5px;
}

ul#nav li a { 
  padding: 17px 30px 16px 30px;
  font: 120% arial, sans-serif;
  text-decoration: none;
  color: #FFF;
}

ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus  
{ color: #FFF;
  text-shadow: none;}

ul#nav li a:hover, ul#nav li.selected a
{ color: #000; 
  background: none;}
  
ul#nav li.currenttab a
{ color: #FFF; 
  background: none;}
  
ul#nav ul li.currenttabselected a
{ color: #000; 
  background: none;}  
  
ul#nav ul li a 
{ color: #FFF;
  background: none;}

ul#nav ul li a:hover, ul#nav li.selected a:hover, ul#nav li.selected a:focus  
{ color: #000; 
  background: none;}
ul#menu
{ 
  margin: 0;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font-size: 130%;
  letter-spacing: -1px;
  height: 35px;
  padding: 15px 20px 0 20px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: transparent;} 

ul#menu li.current
{ margin: 2px 0 0 0;}

ul#menu li.current a
{ text-decoration: underline;}

ul#menu li a:hover
{ text-decoration: underline;}ul#menu
{ 
  margin: 0;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font-size: 130%;
  letter-spacing: -1px;
  height: 35px;
  padding: 15px 20px 0 20px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: transparent;} 

ul#menu li.current
{ margin: 2px 0 0 0;}

ul#menu li.current a
{ text-decoration: underline;}

ul#menu li a:hover
{ text-decoration: underline;}

#site_content
{ width: 940px;
  overflow: hidden;
  margin: 0 auto;} 

.sidebar_container
{ float: right;
  margin: 20px 10px 0 10px;
  width: 210px;
  padding: 0;}

.sidebar
{ float: left;
  width: 190px;
  padding-left: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 190px;}

.sidebar h2
{ padding: 5px 0 0 0;
  font: normal 120% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #EEE;
  color: #098EFF;}  
  
.sidebar p
{ color: #1d1d1d;}

#content
{ width: 680px;
  margin: 0 0 20px 10px;
  float: left;}

.content_item
{ width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;}
  
.content_image
{ float: left; 
  width: 100px;
  height: 100px;
  margin: 0 20px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}

.content_image img{
  width: 100px;
  height: 100px;
}
.content_container
{ width: 100%;
  padding: 5px;
  margin-right: 10px;
  float: left;}
#content h3{
  color: #098EFF;
  font: normal 130% Arial, Helvetica, sans-serif;

} 
#footer_container
{ width: 920px;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  background: #098EFF;
  background: -moz-linear-gradient(#43A9FF, #0183F0);
  background: -o-linear-gradient(#43A9FF, #0183F0);
  background: -webkit-linear-gradient(#43A9FF, #0183F0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;} 
 
 
#footer
{ width: 920px;
  height: 20px;
  padding-top: 20px;
  text-align: center; 
  background: transparent;
  text-shadow: 1px 1px #535353;
  color: #fff;}

#footer a, #footer .copyright, #footer a:hover
{ text-shadow: 1px 1px #535353;
  color: #fff;
  text-decoration: none;
  padding-bottom: 20px;}

#footer a:hover
{ text-decoration: underline;}

#footer a, #footer a:hover
{ text-shadow: 1px 1px #535353;
  color: #fff;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}
  
 .readmore
{ font: bold 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  margin-left: 95px;
  padding: 5px 2px 7px 2px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
 .readmore a
{ color: #1D1D1D;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  padding: 5px 2px 7px 2px;
  background: #098EFF;
  background: -moz-linear-gradient(#43A9FF, #0183F0);
  background: -o-linear-gradient(#43A9FF, #0183F0);
  background: -webkit-linear-gradient(#43A9FF, #0183F0);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: none; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #098EFF;
  background: -moz-linear-gradient(#43A9FF, #0183F0);
  background: -o-linear-gradient(#43A9FF, #0183F0);
  background: -webkit-linear-gradient(#43A9FF, #0183F0);
  color: #FFF;}

#slideshow
{ width: 940px;
  height: 300px;
  float:left;
  }  

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  margin-top: -10px;
  margin-left: -10px;
  width: 940px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 940px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font-family: italic;
  font-size: 22px;
  color: #FFF;
  line-height: 1.0em;
  }
 